@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";
$fonts: 'Merriweather',
serif;
$primary-color: #009688;
$alt-color: #fff;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  position: relative;
}

body {
  background-color: $primary-color;
  color: $primary-color;
  font-family: $fonts;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  width: 90%;
  max-width: 500px;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  width: 100%;
  padding: 40px 50px;
  display: table;
  background-color: $alt-color;
  .quote-text {
    i {
      font-size: 1.0em;
      margin-right: 0.4em;
    }
    text-align: center;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.75em;
  }
  .quote-author {
    height: auto;
    clear: both;
    padding-top: 20px;
    font-size: 1em;
    text-align: right;
  }
  .buttons {
    margin: auto;
    display: block;
    .button {
      height: 40px;
      border: none;
      border-radius: 3px;
      color: $alt-color;
      background-color: $primary-color;
      outline: none;
      font-size: 0.85em;
      padding: 8px 18px 6px 18px;
      margin-top: 30px;
      opacity: 1;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
      &#tweet-quote {
        float: left;
        padding: 0px;
        padding-top: 8px;
        text-align: center;
        font-size: 1.2em;
        margin-right: 5px;
        width: 40px;
      }
      &#new-quote {
        float: right;
      }
    }
  }
}

footer {
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: $alt-color;
  a {
    font-weight: 500;
    text-decoration: none;
    color: $alt-color;
  }
}

@media (max-width: 350px) {
  body {
    font-size: 80%;
  }
}